<button
    class="flex  w-full justify-center text-xl text-white rounded-lg items-center gap-1 px-4 py-1 bg-creative_green"
>
    <img src="./assets/svg/ws.svg" class="size-10" alt="" />
    WhatsApp
</button>
