---
import ContactDesignCard from "@components/card/ContactDesignCard.astro";
import Form from "@components/form/ContactForm";
---

<section 
class="w-full h-fit xl:h-screen overflow-x-hidden grid grid-cols-1 xl:grid-cols-2 pb-16 gap-x-10 px-[7dvw] bg-creative_secondary
">
    <div class="w-full hidden h-full relative xl:flex flex-col justify-center item ">
      <img src="./assets/images/contact_icon.svg" class="z-[1]" alt="">
      <div class="absolute w-full h-full z-[2]">
        <!-- DESING CARD -->
         <ContactDesignCard numero={0}/>
         <ContactDesignCard numero={1}/>
      </div>
    </div>
    <div class="w-full h-full flex items-center ">
      <!-- Formulario -->
       <Form client:only="react"/>
    </div>
 </section>