---
import { navModel } from "@hooks/navModel";
import WsButton from "@components/button/wsButton.astro";

const { navItems } = navModel;
---

<footer
class="w-full h-fit px-[7dvw] grid grid-cols-5 bg-creative_orange py-10"
>
<a href="/"
  ><img
    src="./assets/svg/invertLogo.svg"
    class="w-full h-[100px]"
    alt="logo"
  /></a
>
<ul
  class="w-full col-start-2 col-end-4 grid place-content-center grid-cols-2 gap-5 px-[5%]"
>
  {
    navItems.map((navitem) => (
      <li class="w-full  flex justify-center ">
        <a class=" text-white text-xl font-bold" href={navitem.url}>
          {navitem.title}
        </a>
      </li>
    ))
  }
</ul>
<div class="w-full flex justify-around pt-2">
  <img src="./assets/svg/tiktok.svg" class="size-10" alt="" />
  <img src="./assets/svg/instagram.svg" class="size-10" alt="" />
  <img src="./assets/svg/facebook.svg" class="size-10" alt="" />
</div>
<div class="w-full px-[10%]">
  <WsButton  />
</div>
</footer>