---
---

<main class="w-full h-dvh relative bg-black bg-cover">
    <img
        src="./assets/svg/mainImage.svg"
        class="object-cover h-full w-full"
        alt=""
    />
    <div
        class="w-full h-full flex absolute pl-[7dvw] inset-0 bg-creative_primary/90"
    >
        <div class="w-[40%] h-full flex flex-col justify-center items-start">
            <h1 class="text-6xl headerText font-bold text-white">
                Agencia de <br />
                Diseño y desarrollo de páginas web <br />
                y Aplicaciones
            </h1>

            <a
                href="#paquetes"
                class="py-6 w-[60%] shadow-2xl shadow-[#FA4B0070] mt-[20%] gap-x-4 flex items-center justify-center rounded-lg text-white text-3xl font-light bg-[#FA4B00]"
            >
                Ver paquetes
                <img
                    class="rotate-180 size-5"
                    src="./assets/svg/selected.svg"
                    alt=""
                />
            </a>
        </div>

        <div class="w-[60%] h-full flex items-end">
            <img
                id="img_header"
                class="fade-in-image object-cover -translate-y-[10%]"
                src="./assets/svg/main_front_image.svg"
                alt=""
            />
        </div>
    </div>
</main>

<style>
    .image-container {
        overflow: hidden;
    }
    .fade-in-image {
        opacity: 0;
    }
    .headerText {
        transform: translateX(-250);
        opacity: 0;
    }
</style>

<script>
    import "@lib/animations/main/heroes.animation";
</script>
