---

interface Props {
    numero:number
}

const { numero } = Astro.props

---

<div class={`w-1/2 h-[70%] bg-white absolute border-[2px] border-creative_gray ${numero === 0 ? "left-[12%] top-[2%]" : "left-[40%] top-[25%]"} `}>

</div>