---
interface Props {
    img: string;
    imgH: number;
}

const { img, imgH } = Astro.props;
---

<div
    class="w-full h-[410px] proyect-item cursor-pointer bg-white rounded-lg overflow-hidden relative group"
    style={`--image-height: ${imgH}px`}
>
    <img
        src={img}
        class="transition-all duration-[5s] ease-linear absolute w-full h-full top-0 object-cover object-top hover-trigger"
        alt=""
    />
</div>

<style>
    /* Estilos generales */
    .hover-trigger {
        object-position: 0% 0%; /* Comienza desde la parte superior (0%) */
        transition: object-position 2s linear; /* Transición de la posición de la imagen */
    }

    /* Cuando se activa el hover, la imagen se mueve hacia abajo */
    .group:hover .hover-trigger {
        object-position: 0% 100%; /* Mueve la imagen hacia abajo, cubriendo todo el contenedor */
    }
</style>
